@keyframes star1 {
  0% {
    transform: translate(0)
  }

  50% {
    transform: scale(1.03);
    opacity: 1;
  }

  to {
    transform: translate(0);
  }
}

@keyframes star2 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: scale(1.03);
    opacity: 1;
  }

  to {
    transform: translate(0);
  }
}

@keyframes star3 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: scale(1.03);
    opacity: 1;
  }

  to {
    transform: scale(1.03);
    transform: translate(0);
  }
}

.star-1 {
  opacity: 0.5;
}

.star-2 {
  opacity: 0.4;
}

.star-3 {
  opacity: 0.2;
}

.button-hover-animate-stars:hover .star-1 {
  animation: star1 1s ease-in-out infinite;
  animation-delay: 0s;
}

.button-hover-animate-stars:hover .star-2 {
  animation: star2 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.button-hover-animate-stars:hover .star-3 {
  animation: star3 1s ease-in-out infinite;
  animation-delay: 0.3s;
}